html,body{height: 100%;overflow: hidden;}
*{margin: 0;padding: 0;}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(../images/body_bj.jpg);
}

a {
  color: #00B7FF;
  text-decoration: none;
}
.login-body{
	width: 100%;
	height: 100%;
	background: url(../images/ecshop-bg.png) no-repeat center center;
	background-size: cover;
	position: relative;
}
.login-hd{
	background: none;
	height: 44px;
	padding: 40px 0 40px 50px;
}
.center-wrap{
	position: absolute;
	
	right: 0;
	left: 0;
	width: 475px;
	margin: 0 auto;
}
.login-center{
	width: 380px;
	margin: 0 auto;
	padding-left: 108px;
	top: -60px;
	position: absolute;
}
.z-bd{
	margin-top: 70px;
	background: url(../images/icloud-bar.png ) no-repeat 0 bottom;
	height: 350px;
	padding-bottom: 42px;

}
.login-panel{
	background: rgba(255,255,255,.85);
	border: none;
	border-radius: 0;
	color: #A1A1A1;
	padding:5px 70px 25px;
	overflow: hidden;
	box-shadow: 5px 2px 20px rgba(0,0,0,.3);
	height: 322px;
	width: 302px;
	margin-left: 16px;

}
.controls{
	position: relative;
	height: 51px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.first{
	margin-top: 40px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	border-top: 1px solid #ddd;
	background: #fff;

}
.two{
	background: #fff;
}
.third{
	background: #fff;
	border-radius: 0 0 5px 5px;
}
.btnd{
	border:none;
}
.btn-a{
	color: #fff;
	font-size: 16px;
	line-height: 51px;
	text-align: center;
	background-color: #fc7878;
	border:none;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	margin-top: 20px;
}
.bside{
	margin-top: 28px;
	overflow: hidden;
	height: auto;
	border:none;
}
.link-forget{
	
	margin-left: 25px;
}
.link-home{
	float: right;

}
.controls>span{
	display: inline-block;
	width: 50px;
	height: 51px;
	line-height: 51px;
	text-align: center;

}
.controls>span>img{
	width: 20px;
	height: 20px;
	display: inline-block;
	margin:0 auto;
}
.controls>input{
	border:none;
	outline: none;
}
.YZM{
	display: inline-block;
	width: 104px;
	height: 36px;
}

