<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/list.css' />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
  </head>
  <body>
    <div id="shop-add">
	    		<div id="shop-header">
					<h1>ECSHOP管理中心</h1>
					<span class="action-span1">-添加新商品</span>
					<i><img src="images/jnsy.png"></i>
	    			<span class="action-span">
	    				<a href="">商品列表</a>
	    			</span>
	    		</div>

	    		<div class="tab-div">
	    			<!-- 按钮 -->
	    			<div id="tab-inp">
	    				<span class="tab-front">通用信息</span>
	    				<span class="tab-back">详细描述</span>
	    				<span class="tab-back">其他信息</span>
	    				<span class="tab-back">商品属性</span>
	    				<span class="tab-back">商品相册</span>
	    				<span class="tab-back">关联商品</span>
	    				<span class="tab-back">配件</span>
	    				<span class="tab-back">关联文章</span>
	    			</div>

	    			<!-- 选项卡内容 -->
	    			<div id="tabbody">
	    				<form>
	    					<table id="general-table" class="xuan_table">
	    						<tbody>
	    							<tr>
	    								<td class="label" >商品名称：</td>
	    								<td>
	    									<input type="text" name="" id="shopname">
	    									<span class="require-field">*</span>
	    								</td>
	    							</tr>
	    							<tr>
	    								<td class="label">
	    									<a href=""><img src="images/notice.gif"></a>
	    								商品货号：</td>
	    								<td>
	    									<input type="text" name="" id="shopnum"><br>
	    									<span class="notice-span">如果您不输入商品货号，系统将自动生成一个唯一的货号。</span>
	    								</td>
	    							</tr>
	    							<tr>
	    								<td class="label">商品分类：</td>
	    								<td>
	    									<select style="width: 158px">
	    										<option value="0">请选择...</option>
	    									</select>
	    									<a href="" class="special">添加分类</a>
	    									<span class="require-field">*</span>
	    								</td>
	    							</tr>
	    							<tr>
	    								<td class="label">扩展分类：</td>
	    								<td>
	    									<input type="button" name="" value="添加" class="button">
	    								</td>
	    							</tr>
	    							<tr>
	    								<td class="label">商品品牌：</td>
	    								<td>
	    									<select style="width: 105px">
	    										<option>请选择...</option>
	    									</select>
	    									<a href="" class="special">添加品牌</a>
	    								</td>
	    							</tr>
	    							<tr>
	    								<td class="label">本地售价：</td>
	    								<td>
	    									<input type="text" name="" size="20" width="135">
	    									<input type="button" name="" value="按市场价计算">
	    									<span class="require-field">*</span>
	    								</td>
	    							</tr>
	    							<tr>
	    								<td class="label">
										<a href=""><img src="images/notice.gif"></a>
	    								会员价格：</td>
	    								<td>注册用户
											<input type="text" name="" size="8">
											代销用户
											<input type="text" name="" size="8">
											vip
											<input type="text" name="" size="8"><br>
											<span class="notice-span">
												会员价格为-1时表示会员价格按会员等级折扣率计算。你也可以为每个等级指定一个固定价格
											</span>

	    								</td>
	    							</tr>
	    							<tr>
	    								<td class="label">
										<a href=""><img src="images/notice.gif"></a>
	    								商品优惠价格：</td>
	    								<td>[+]优惠数量
											<input type="text" name="" size="8">
											优惠价格
											<input type="text" name="" size="8"><br>
											<span class="notice-span">
												购买数量达到优惠数量时享受的优惠价格
											</span>

	    								</td>
	    							</tr>
	    							<tr>
	    								<td class="label">市场售价：</td>
	    								<td>
	    									<input type="text" name="" size="20" id="shopprice">
	    									<input type="button" name="" value="取整数">
	    								</td>
	    							</tr>
	    							<tr>
	    								<td class="label">虚拟销量：</td>
	    								<td>
	    									<input type="text" name="" size="20" id="shopsales">
	    								</td>
	    							</tr>
	    							<tr>
	    								<td class="label">
										<a href=""><img src="images/notice.gif"></a>
	    								赠送消费积分数：</td>
	    								<td>
											<input type="text" name="" size="8"><br>
											<span class="notice-span">
												购买该商品时赠送消费积分数,-1表示按商品价格赠送
											</span>

	    								</td>
	    							</tr>
	    							<tr>
	    								<td class="label">
										<a href=""><img src="images/notice.gif"></a>
	    								赠送等级积分数：</td>
	    								<td>
											<input type="text" name="" size="8"><br>
											<span class="notice-span">
												购买该商品时赠送消费积分数,-1表示按商品价格赠送
											</span>

	    								</td>
	    							</tr>
	    							<tr>
	    								<td class="label">
										<a href=""><img src="images/notice.gif"></a>
	    								积分购买金额：</td>
	    								<td>
											<input type="text" name="" size="8"><br>
											<span class="notice-span">
												(此处需填写金额)购买该商品时最多可以使用积分的金额
											</span>

	    								</td>
	    							</tr>
	    							<tr>
	    								<td class="label">
	    									<label>
	    										<input type="checkbox" name="">促销价
	    									</label>
	    								</td>
	    								<td>
	    									<input type="text" name="" size="20">
	    								</td>
	    							</tr>
	    							<tr>
	    								<td class="label">促销日期：</td>
	    								<td>
	    									<input type="text" name="" value="2018-01-16">
	    									<input type="button" name="" value="选择" class="button">-
	    									<input type="text" name="" value="2018-02-16">
	    									<input type="button" name="" value="选择" class="button">
	    								</td>
	    							</tr>
	    							<tr>
	    								<td class="label">上传商品图片：</td>
	    								<td>
	    									<input type="file" name="" size="
	    									35">
	    									<img src="images/no.gif"><br>
	    									<input type="text" name="">
	    								</td>
	    							</tr>
	    							<tr><td class="label">上传商品图片：</td>
	    								<td>
	    									<input type="file" name="" size="
	    									35" disabled="disabled">
	    									<img src="images/no.gif"><br>
	    									<input type="text" name="" disabled="disabled"><br>
	    									<label>
	    										<input type="checkbox" name="" checked="checked">自动生成商品缩略图
	    									</label>
	    								</td>
	    								
	    							</tr>
	    						</tbody>
	    					</table>
							<table class="xuan_table xuan-yin" >
								<tr>
									<td align="center">
										<textarea rows="15" cols="80"></textarea>
									</td>
								</tr>
							</table>
							<table class="xuan_table xuan-yin" >
								<tbody>
									<tr>
										<td class="label">商品重量：</td>
										<td>
											<input type="text" name="" size="20">
											<select>
												<option value="1" selected>千克</option>
												<option value="0.001">克</option>
											</select>
										</td>
									</tr>
									<tr>
										<td class="label">
	    									<a href=""><img src="images/notice.gif"></a>
	    								商品库存数量：</td>
	    								<td>
	    									<input type="text" name="" value="1" size="20" id="shopstcok"><br>
	    									<span class="notice-span">库存在商品为虚货或商品存在货品时为不可编辑状态，库存数值取决于其虚货数量或货品数量</span>
	    								</td>
									</tr>
									<tr>
										<td class="label">商品重量：</td>
										<td>
	    									<input type="text" name="" value="1" size="20"><br>
	    								</td>
									</tr>
									<tr>
										<td class="label">加入推荐：</td>
										<td>
											<input type="checkbox" name="">精品
											<input type="checkbox" name="">新品
											<input type="checkbox" name="">热销
										</td>
									</tr>
									<tr>
										<td class="label">上架：</td>
										<td>
											<input type="checkbox" name="" checked="checked"> 打勾表示允许销售，否则不允许销售。
										</td>
									</tr>
									<tr>
										<td class="label">能作为普通商品销售：</td>
										<td>
											<input type="checkbox" name="" checked="checked">  打勾表示能作为普通商品销售，否则只能作为配件或赠品销售。
										</td>
									</tr>
									<tr>
										<td class="label">商品关键词：</td>
										<td>
											<input type="text" name="" size="40">用空格分隔
										</td>
									</tr>
									<tr>
										<td class="label">商品简单描述：</td>
										<td>
											<textarea cols="40" rows="3"></textarea>
										</td>
									</tr>
									<tr>
										<td class="label">
	    									<a href=""><img src="images/notice.gif"></a>
	    								商家备注：</td>
	    								<td>
	    									<textarea cols="40" rows="3"></textarea><br>
	    									<span class="notice-span">仅供商家自己看的信息</span>
	    								</td>
									</tr>
								</tbody>
							</table>
							<table class="xuan_table xuan-yin" >
								<tbody>
									<tr>
										<td class="label">
	    									<a href=""><img src="images/notice.gif"></a>
	    								商品类型：</td>
	    								<td>
	    									<select>
	    										<option>请选择商品类型</option>
	    									</select><br>
	    									<span class="notice-span">请选择商品的所属类型，进而完善此商品的属性</span>
	    								</td>
									</tr>
								</tbody>
							</table>
							<table class="xuan_table xuan-yin" >
								<tbody>
									<tr>
										<td class="label">
											<a href="" style="color: #000">[+]</a>图片描述
											<input type="text" name="" size="20" id="shopmiaoshu">上传文件
											<input type="file" name="" id="img">
											<input type="text" name="" size="40" value="或者输入外部图片链接地址" style="color: #aaa">
										</td>
									</tr>
								</tbody>
								
							</table>
							<table class="xuan_table xuan-yin" >
								<tr>
									<td>6</td>
								</tr>
							</table>
							<table class="xuan_table xuan-yin" >
								<tr>
									<td>7</td>
								</tr>
							</table>
							<table class="xuan_table xuan-yin" >
								<tr>
									<td>8</td>
								</tr>
							</table>

	    					<div class="button-div">
	    						<input type="button" name="" value="确认" class="button" onclick="refer()">
	    						<input type="reset" name="" value="重置" class="button">
	    					</div>
	    				</form>
	    				
	    			</div>
	    		</div>
	    	</div>

	<div id="footer">
	    		
共执行 9 个查询，用时 0.025606 秒，Gzip 已禁用，内存占用 3.578 MB<br>

版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。
	    	</div>
  </body>
  <script type="text/javascript">
  		//选项卡
  	$("#tab-inp span").click(function () {
  		var index = $(this).index();
  		for (var i=0;i<$("#tab-inp span").length;i++) {
  			$("#tab-inp span").eq(i).attr("class","tab-back");
  			$(".xuan_table").eq(i).attr("class","xuan_table xuan-yin");
  		}
  		$(this).attr("class","tab-front");
  		$(".xuan_table").eq(index).attr("class","xuan_table");
  	})

  	  	//ajax提交
  	function refer() {
  		
  		console.log($("#img"));
  		var form = new FormData(); // FormData是H5新特性
		form.append("shopname", $("#shopname").val());
		form.append("shopnum", $("#shopnum").val());
		form.append("shopprice", $("#shopprice").val());
		form.append("shopsales", $("#shopsales").val());
		form.append("shopstcok", $("#shopstcok").val());
		form.append("img", document.getElementById("img").files[0]);

		var xhr = new XMLHttpRequest();
		xhr.open("POST", "/api/referajax");
		xhr.onreadystatechange = function(res){
			if (xhr.readyState==4 && xhr.status==200) {


				console.log(xhr.responseText);
				var res = JSON.parse(xhr.responseText);
				alert(res.message);
				window.location = "/shoplist";

			}
		}
		xhr.send(form);
  	}

  	//获取数据显示在页面上
  	function getdata () {
  		var URL = window.location.href.split('?');
  		var URL1 = URL[1].split('&');
  		console.log(URL1);
  		var ushopname = decodeURIComponent(URL1[0]) ;
  		var ushopnum = URL1[1];
  		var ushopprice = URL1[2];
  		$("#shopname").val(ushopname);
  		$("#shopnum").val(ushopnum);
  		$("#shopprice").val(ushopprice);

  	}
  	getdata();

  </script>
</html>
